body {
    background: #43cea2;
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
    background: linear-gradient(to right, #185a9d, #43cea2); 
}
h1{
    text-align: center;
    margin-bottom: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
.h1session{
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.hero{
    text-align: center;;
}
.hero p{
    font-size: 25px;
}
#promedio{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

#miForm{
    margin-top: 30px;
}

#miform{
    padding-bottom: 10px;
    padding-top: 10px;
}